{
  "layers"                : ["int",   "20"],
  "lr"                    : ["float", "0.025"],
  "epochs"                : ["int",   "600"],
  "optim"                 : ["str",   "SGD"],
  "momentum"              : ["float", "0.9"],
  "nesterov"              : ["bool",  "0"],
  "criterion"             : ["str",   "Softmax"],
  "batch_size"            : ["int",  "96"],
  "affine"                : ["bool", "0"],
  "learning_rate_min"     : ["float", "0.0"],
  "weight_decay"          : ["float", "3e-4"],
  "channel"               : ["int", "36"],
  "auxiliary"             : ["bool", "0"],
  "auxiliary_weight"      : ["float", "0.4"],
  "track_running_stats"   : ["bool", "1"],
  "drop_path_prob"        : ["float", "0.2"],
  "cutout"                : ["int", "-1"],
  "cutout_length"         : ["int", "16"],
  "train_portion"         : ["float", "0"],
  "use_data_parallel"     : ["bool", "0"]
}
