{
  "layers"                : ["int",   "8"],
  "lr"                    : ["float", "0.025"],
  "epochs"                : ["int",   "50"],
  "optim"                 : ["str",   "SGD"],
  "momentum"              : ["float", "0.9"],
  "nesterov"              : ["bool",  "0"],
  "criterion"             : ["str",   "Softmax"],
  "batch_size"            : ["int",  "64"],
  "affine"                : ["bool", "0"],
  "learning_rate_min"     : ["float", "1e-3"],
  "weight_decay"          : ["float", "3e-4"],
  "channel"               : ["int", "16"],
  "arch_learning_rate"    : ["float", "3e-4"],
  "arch_weight_decay"     : ["float", "1e-3"],
  "cutout"                : ["int", "0"],
  "train_portion"         : ["float", "0.5"],
  "use_data_parallel"     : ["bool", "0"]
}
