{
  "layers"               : ["int",   "8"],
  "lr"                   : ["float", "0.025"],
  "epochs"               : ["int",   "50"],
  "optim"                : ["str",   "SGD"],
  "weight_decay"         : ["float", "3e-4"],
  "momentum"             : ["float", "0.9"],
  "nesterov"             : ["bool",  "1"],
  "criterion"            : ["str",   "Softmax"],
  "batch_size"           : ["int",  "64"],
  "affine"               : ["bool", "0"],
  "learning_rate_min"    : ["float", "0.0"],
  "channel"              : ["int", "16"],
  "arch_learning_rate"   : ["float", "3e-4"],
  "cutout"                : ["int", "0"],
  "arch_weight_decay"    : ["float", "1e-3"],
  "reg_type"             : ["str", "l2"],
  "reg_scale"            : ["float", "1e-3"],
  "k"                    : ["float", "6"],
  "train_portion"         : ["float", "0.5"],
  "use_data_parallel"     : ["bool", "0"]
}