{
  "lr"       : ["float", "0.025"],
  "epochs"   : ["int",   "250"],
  "optim"    : ["str",   "SGD"],
  "weight_decay"    : ["float", "0.0005"],
  "momentum" : ["float", "0.9"],
  "nesterov" : ["bool",  "1"],
  "criterion": ["str",   "Softmax"],
  "batch_size": ["int",  "64"],
  "channel"  : ["int", "16"],
  "max_nodes": ["int", "4"],
  "num_cells": ["int", "5"],
  "affine"   : ["bool", "0"],
  "track_running_stats": ["bool", "1"],
  "arch_learning_rate": ["float", "3e-4"],
  "arch_weight_decay": ["float", "1e-3"],
  "learning_rate_min": ["float", "1e-3"],
  "tau_max": ["int","10"],
  "tau_min": ["float","0.1"],
  "cutout" : ["int", "0"],
  "train_portion" : ["float", "0.5"],
  "use_data_parallel" : ["bool", "0"]
}