{
  "lr"       : ["float", "0.01"],
  "epochs"   : ["int",   "200"],
  "optim"    : ["str",   "SGD"],
  "weight_decay"    : ["float", "0.0005"],
  "momentum" : ["float", "0.9"],
  "nesterov" : ["bool",  "1"],
  "criterion": ["str",   "Softmax"],
  "batch_size": ["int",  "256"],
  "channel"  : ["int", "16"],
  "max_nodes": ["int", "4"],
  "num_cells": ["int", "5"],
  "affine"   : ["bool", "0"],
  "track_running_stats": ["bool", "0"],
  "learning_rate_min": ["float", "0.0"],
  "cutout" : ["int", "-1"],
  "train_portion" : ["float", "0"],
  "use_data_parallel" : ["bool", "0"]
}
